<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
</head>
<body>
	<h1>Projeto Brewer de Cervejas</h1>
	
	<form method=POST th:object="${cerveja}">
				
		<div th:each="erro : ${#fields.detailedErrors()}">
			<span th:text="${erro.message}"></span>
		</div>
			
		<span th:text="${mensagem}"></span>
		<br>
		
		<label for="sku">SKU</label>
		<input type="text" id="sku" th:field="*{sku}">
		<br>
		
		<label for="nome">NOME</label>
		<input type="text" id="nome" th:field="*{nome}">
		<br>
		
		<label for="descricao">DESCRIÇÃO</label>
		<textarea rows="3" cols="30" id="descricao" th:field="*{descricao}"></textarea>
		<br>	
		
		<input type="submit" value="salvar">
	</form>

</body>

</html>